
graph/SSTGraph.tex
graph/SSTGraph.synctex.gz
graph/SSTGraph.pdf
graph/SSTGraph.log
graph/SSTGraph.aux
graph/SSTGraph.fls
graph/SSTGraph.fdb_latexmk
graph/TDFTGraph.tex
graph/TDFTGraph.aux
graph/TDFTGraph.log
graph/TDFTGraph.pdf
graph/TDFTGraph.synctex.gz
